<div *ngIf="question$ | async as currentQuestion">

  <!-- REVEAL BUTTONS -->
  <div *ngFor="let answer of currentQuestion.answers; let i = index" class="answer-block">

    <button
      mat-raised-button
      class="answer-button"
      (click)="revealAnswer(i)"
      [disabled]="(currentQuestion.revealedAnswers ?? []).includes(i)">
      Pokaż {{ answer.label || ('odpowiedź ' + (i + 1)) }}
    </button>

    <!-- 👇 PRZEROBIONA ODPOWIEDŹ -->
    <div
      *ngIf="(currentQuestion.revealedAnswers ?? []).includes(i)"
      class="answer-card">

      <!-- JEŚLI OBRAZEK -->
      <ng-container *ngIf="isImage(answer.value); else textAnswer">
        <div class="image-wrapper">
          <img [src]="answer.value" class="answer-image" />
          <div class="image-caption">
            {{ answer.label || ('Odpowiedź ' + (i + 1)) }}
          </div>
        </div>
      </ng-container>

      <!-- JEŚLI TEKST -->
      <ng-template #textAnswer>
        <div class="text-wrapper">
          <div class="answer-label">
            {{ answer.label || ('Odpowiedź ' + (i + 1)) }}
          </div>
          <div class="answer-text">
            {{ answer.value }}
          </div>
        </div>
      </ng-template>

    </div>

  </div>

  <!-- ANSWER BUTTONS -->
  <app-answer-buttons
    *ngIf="showAnswerButtons"
    (correct)="correct.emit()"
    (wrong)="wrong.emit()"
    (half)="half.emit()">
  </app-answer-buttons>

</div>
