<mat-card class="control-card" *ngIf="currentTeam">
  <div class="turn-info">
    <div class="avatar-wrapper">
      <img
        [src]="currentTeam.avatarUrl"
        class="current-turn-avatar pulse"
        [alt]="currentTeam.name"
      />
    </div>
    <div class="team-text">
      <span class="turn-label">AKTUALNA TURA</span>
      <h3 class="turn-team-name" style="color: #f8fafc !important">{{ currentTeam.name }}</h3>
    </div>
  </div>

  <div class="input-section">
    <mat-form-field appearance="outline" class="full-width custom-dark-input">
      <mat-label>Twoja odpowiedź</mat-label>
      <input
        matInput
        placeholder="Wpisz odpowiedź..."
        [(ngModel)]="inputValue"
        (keyup.enter)="submit()"
        autocomplete="off"
        style="color: #f8fafc !important; caret-color: #3b82f6 !important"
      />
    </mat-form-field>
    F
    <button mat-flat-button class="submit-btn" (click)="submit()" [disabled]="!inputValue.trim()">
      <mat-icon>send</mat-icon>
      Zatwierdź
    </button>
  </div>
</mat-card>
