.image-wrapper {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
  border: 4px solid #f4c542;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

  display: flex; /* flex do wycentrowania obrazka */
  justify-content: center;
  align-items: center;

  background-color: #fff; /* ewentualne tło */
}

.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 12px;
}

/* GRID */
.grid {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  z-index: 2; /* MUSI być wyżej niż obrazek */
}

.tile {
  background: lightgoldenrodyellow;
  transition: opacity 0.3s ease;
}

.tile.revealed {
  opacity: 0;
}

.question-image-container {
  display: flex;
  justify-content: center; /* poziomo */
  align-items: center; /* pionowo */
  width: 100%;
  min-height: 500px; /* lub dopasuj do obszaru pytania */
  padding: 10px;
}
