<div class="container mat-elevation-z4">
  <div class="button-group">
    <mat-button-toggle-group name="questionType" aria-label="Typ pytania">
      <mat-button-toggle
        value="one-answer"
        [checked]="activeForm === 'one-answer'"
        (change)="setForm('one-answer')"
      >
        <mat-icon>quiz</mat-icon>
        Dodaj One-Answer
      </mat-button-toggle>

      <mat-button-toggle value="hint" [checked]="activeForm === 'hint'" (change)="setForm('hint')">
        <mat-icon>help_outline</mat-icon>
        Dodaj Hint
      </mat-button-toggle>

      <mat-button-toggle
        value="music"
        [checked]="activeForm === 'music'"
        (change)="setForm('music')"
      >
        <mat-icon>music_note</mat-icon>
        Dodaj Muzyczne
      </mat-button-toggle>

      <mat-button-toggle
        value="familiada"
        [checked]="activeForm === 'familiada'"
        (change)="setForm('familiada')"
      >
        <mat-icon>subject</mat-icon>
        Dodaj Familiade
      </mat-button-toggle>

      <mat-button-toggle
        value="football"
        [checked]="activeForm === 'football'"
        (change)="setForm('football')"
      >
        <mat-icon>subject</mat-icon>
        Dodaj Piłke nozna
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <mat-divider></mat-divider>

  <div class="form-container">
    @if (activeForm === 'one-answer') {
      <div class="fade-in">
        <app-one-answer-form></app-one-answer-form>
      </div>
    } @else if (activeForm === 'hint') {
      <div class="fade-in">
        <app-hints-form></app-hints-form>
      </div>
    } @else if (activeForm === 'music') {
      <div class="fade-in">
        <app-music-question-form></app-music-question-form>
      </div>
    } @else if (activeForm === 'familiada') {
      <div class="fade-in">
        <app-familiada-form></app-familiada-form>
      </div>
    } @else if (activeForm === 'football') {
      <div class="fade-in">
        <app-football-form></app-football-form>
      </div>
    } @else {
      <div class="placeholder-content">
        <mat-icon color="disabled">quiz</mat-icon>
        <p>Wybierz typ pytania powyżej, aby rozpocząć tworzenie.</p>
      </div>
    }
  </div>
</div>
