<div class="team-container">
  <div class="header-box">
    <div class="dot"></div>
    <h2>Zarządzanie Drużynami</h2>
  </div>

  <div class="add-team-card">
    <div class="add-team-content">
      <mat-form-field appearance="outline" class="custom-form-field">
        <mat-label>Nazwa nowej drużyny</mat-label>
        <input
          matInput
          [(ngModel)]="newTeamName"
          #teamInput="ngModel"
          [errorStateMatcher]="matcher"
          data-testid="team-input"
          (keyup.enter)="addTeam(teamInput)"
          (ngModelChange)="validateNewTeamName(teamInput)"
          placeholder="Np. Smocze Kły"
          required
          minlength="4"
          autocomplete="off"
        />
        <mat-error data-testid="form-input-error" *ngIf="teamInput.hasError('required')">Nazwa jest wymagana!</mat-error>
        <mat-error data-testid="form-input-error" *ngIf="teamInput.hasError('duplicate')">Drużyna o tej nazwie już istnieje!</mat-error>
        <mat-error data-testid="form-input-error" *ngIf="teamInput.hasError('whitespace')">Nazwa nie może składać się z samych spacji!</mat-error>
        <mat-error data-testid="form-input-error" *ngIf="teamInput.hasError('minlength')">Nazwa musi mieć co najmniej 4 znaki!</mat-error>
        <mat-error data-testid="form-input-error" *ngIf="teamInput.hasError('maxlength')">Nazwa nie może przekraczać 20 znaków!</mat-error>
        <mat-error data-testid="form-input-error" *ngIf="teamInput.hasError('maxTeams')">Osiągnięto maksymalną liczbę drużyn (10)!</mat-error>
      </mat-form-field>

      <button data-testid="add-button" class="add-btn" [disabled]="teamInput.invalid || isAdding" (click)="addTeam(teamInput)">
        <mat-icon>group_add</mat-icon>
        DODAJ
      </button>
    </div>
  </div>
  <div data-testid="team-list" class="cards-list" *ngIf="teams.length > 0">
    <div
      *ngFor="let team of teams"
      class="team-row-custom"
      [attr.data-testid]="'team-row-' + team.name"
    >
      <div class="team-info-left">
        <img [src]="team.avatarUrl" [alt]="'Avatar ' + team.name" class="team-avatar" />
        <span class="team-name-text" [attr.data-testid]="'team-name-' + team.name">{{ team.name }}</span>
      </div>

      <div class="team-info-right">
        <span class="pts-display">{{ team.points }} PKT</span>
        <button
          class="mini-remove"
          (click)="removeTeam(team.id)"
          [attr.data-testid]="'delete-team-' + team.name"
        >
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="empty-state" *ngIf="teams.length === 0">
    <mat-icon>groups</mat-icon>
    <p>Brak dodanych drużyn. Dodaj pierwszą powyżej!</p>
  </div>
</div>
