<ng-container *ngIf="question as q">

  <!-- ===================== -->
  <!-- PYTANIE -->
  <!-- ===================== -->
  <mat-card class="question-card">
    <h2>{{ q.question }}</h2>
  </mat-card>

  <!-- ===================== -->
  <!-- LICZNIK POZOSTAŁYCH -->
  <div class="counter-wrapper" *ngIf="!gameFinished">
    <div class="counter-badge">
      <span class="counter-label">Pozostało</span>
      <span class="counter-number">{{ getRemaining() }}</span>
    </div>
  </div>


  <!-- ===================== -->
  <!-- GRACZE / KONIEC -->
  <!-- ===================== -->
  <ng-container *ngIf="!gameFinished; else gameEnd">

    <mat-card class="players-card">
      <div class="player-row"
           *ngFor="let player of players"
           [class.active-player]="player.id === activePlayerId">

        <div class="player-name">
          {{ player.name }}
        </div>

        <div class="player-chances">
          Szanse:
          <span class="chance-dot"
                *ngFor="let c of [].constructor(player.chancesLeft)">
          </span>

          <span class="lost-dot"
                *ngFor="let c of [].constructor(MAX_CHANCES - player.chancesLeft)">
          </span>
        </div>

      </div>
    </mat-card>

    <!-- ===================== -->
    <!-- INPUT -->
    <!-- ===================== -->
    <mat-card class="control-card" *ngIf="!gameFinished && currentPlayer">
      <h3>Tura: {{ currentPlayer.name }}</h3>

      <mat-form-field appearance="outline" class="full-width">
        <input matInput
               placeholder="Wpisz odpowiedź"
               [(ngModel)]="inputValue"
               (keyup.enter)="submitAnswer()" />
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="submitAnswer()">
        Zatwierdź
      </button>
    </mat-card>


  </ng-container>

  <!-- ===================== -->
  <!-- KONIEC GRY -->
  <!-- ===================== -->
  <ng-template #gameEnd>
    <mat-card class="result-card">
      <h2>Koniec gry!</h2>

      <div *ngIf="winner; else noWinner">
        <h3 class="winner-name">🏆 {{ winner.name }} wygrywa!</h3>
        <p>Aktualne punkty: {{ winner.points + 1 }}</p>
      </div>

      <ng-template #noWinner>
        <p>Brak zwycięzcy</p>
      </ng-template>
    </mat-card>
  </ng-template>

  <!-- ===================== -->
  <!-- ODPOWIEDZI -->
  <!-- ===================== -->
  <div class="answers-wrapper" [class.flash]="wrongFlash">
    <div class="answer-box" *ngFor="let answer of q.answers; let i = index">
      <div class="flip-card">
        <div class="flip-card-inner" [class.flipped]="isRevealed(i)">

          <!-- front: kolorowa ramka bez odpowiedzi -->
          <div class="flip-card-front"></div>

          <!-- back: odkryta odpowiedź -->
          <div class="flip-card-back">{{ answer.value }}</div>

        </div>
      </div>
    </div>
  </div>

</ng-container>
