.game-container {
  display: flex;
  height: calc(100vh - 100px);
  width: 100%;
}

app-game-sidebar {
  width: 30%;
  flex-shrink: 0;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

app-game-content {
  width: 70%;
  flex: 1;
  overflow-y: auto;
}