<div *ngIf="question$ | async as question">
  <div id="player" style="display: none"></div>

  <!-- nowy komponent przycisków -->
  <app-music-tips
    [answerLabel]="(question$ | async)?.answers?.[0]?.label ?? ''"
    (playIntro)="playIntro()"
    (playMiddle)="playMiddle()"
    (playOutro)="playOutro()"
    (hintUsed)="onHintUsed($event)"
  ></app-music-tips>

  <div *ngIf="answersVisible">
    <div *ngFor="let answer of question.answers">
      <strong>{{ answer.label }}:</strong>
      {{ answer.value }}
    </div>
  </div>
</div>
