<div class="question-card">
  <app-question-area-header
    [category]="currentCategory"
    [points]="currentPoints"
    [usedHints]="usedHints">
  </app-question-area-header>

  <!-- tu child route z pod-komponentem kategorii -->
  <router-outlet (activate)="onActivate($event)"></router-outlet>



  <div class="answer-buttons">
    <button mat-raised-button color="accent" (click)="checkAnswer()">
      👀 Sprawdź odpowiedź
    </button>


    <button mat-raised-button color="warn" (click)="wrong()">
      ❌ Źle
    </button>

    <button mat-raised-button color="primary" (click)="correct()">
      ✅ Dobrze
    </button>
  </div>
  <app-answer></app-answer>
</div>
