<div class="question-card">
  <app-question-area-header
    [category]="currentCategory"
    [usedHints]="usedHints">
  </app-question-area-header>

  <!-- tu child route z pod-komponentem kategorii -->
  <router-outlet></router-outlet>


<!--  <app-question-->
<!--    [hints]="currentCategory.hints || []"-->
<!--    (hintUsed)="onHintUsed($event)">-->
<!--  </app-question>-->

  <div class="answer-buttons">
    <button mat-raised-button color="warn" (click)="wrong()">
      ❌ Źle
    </button>

    <button mat-raised-button color="primary" (click)="correct()">
      ✅ Dobrze
    </button>
  </div>
</div>
