<div class="answer-buttons-container">

  <button
    mat-raised-button
    color="warn"
    class="answer-btn wrong"
    [disabled]="disabled"
    (click)="wrong.emit()">
    ❌ Źle
  </button>

  <button
    mat-raised-button
    color="primary"
    class="answer-btn correct"
    [disabled]="disabled"
    (click)="correct.emit()">
    ✅ Dobrze
  </button>

  <button
    mat-raised-button
    color="accent"
    class="answer-btn half"
    [disabled]="disabled"
    (click)="half.emit()">
    ✅ Pół punktu
  </button>

</div>
