<div class="answer-buttons-container">
  <button
    mat-button
    class="answer-btn btn-wrong"
    [disabled]="disabled"
    (click)="wrong.emit()"
  >
    <mat-icon>close</mat-icon>
    Źle
  </button>

  <button
    mat-button
    class="answer-btn btn-correct"
    [disabled]="disabled"
    (click)="correct.emit()"
  >
    <mat-icon>check</mat-icon>
    Dobrze
  </button>

  <button
    mat-button
    class="answer-btn btn-half"
    [disabled]="disabled"
    (click)="half.emit()"
  >
    <mat-icon>star_half</mat-icon>
    Pół punktu
  </button>
</div>
