html,
body {
  height: 100%;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* IMPORTANT - full viewport height */
}

.mat-raised-button.mat-primary {
  background-color: #1976d2 !important; /* strong blue */
  color: white !important;
}

.mat-raised-button.mat-warn {
  background-color: #d32f2f !important; /* strong red */
  color: white !important;
}

.mat-raised-button.mat-accent {
  background-color: #e91e63 !important; /* strong pink */
  color: white !important;
}
