<router-outlet></router-outlet>

<mat-card class="category-header-card">
  <mat-card-title class="category-title">Wybierz kategorię</mat-card-title>
</mat-card>

<div class="random-button-wrapper">
  <button mat-raised-button color="accent" class="random-button" (click)="drawRandomQuestion()">
    🎲 Wylosuj pytanie
  </button>
</div>

<div class="category-grid">
  <button
    mat-raised-button
    *ngFor="let category of selectedCategories; let i = index"
    class="category-button"
    [style.background]="getCategoryColor(category, i)"
    [class.disabled-category]="getRemainingQuestions(category) === 0"
    (click)="goToCategory(category)"
  >
    {{ category.name | titlecase }}
    <span *ngIf="getRemainingQuestions(category) > 0">({{ getRemainingQuestions(category) }})</span>
  </button>
</div>
